@use "sass:map";
@import '../../helpers/vars';

.hourly-weather {
  padding: 0 1rem 1rem 1rem;
  text-align: left;
  animation: components-animation var(--animation-time);
  animation-delay: -0.3s;

  h2 {
    margin-bottom: var(--margin-bottom);
  }

  .scroll-div {
    @extend %scroll-div;

    .scroll-box {
      @extend %scroll-box;
    }
  }
}

@media (min-width: map.get($breakpoints, lg)) {
  .hourly-weather {
    h2 {
      margin: 2rem 0 1rem 0;
    }

    .scroll-box,
    .scroll-box-clicked {
      min-width: 8rem;
    }

    .scroll-box,
    .scroll-box-clicked {
      flex: 1;
    }
  }
}