.today-weather {
  padding: 1rem;
  animation: components-animation var(--animation-time);
  animation-delay: -0.35s;
}

.location,
.today-temp {
  text-align: left;
  margin-bottom: var(--margin-bottom);
}

.today-temp {
  display: flex;
}

h1 {
  margin-bottom: var(--margin-bottom);
}

.today-icon {
  margin-right: 2rem;
}

.temp-desc {
  display: grid;
  margin-top: 0.7rem;
}

#todayTemp {
  font-size: 2rem;
}

.today-data,
.error-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--div-background-color);
  border-radius: var(--border-radius);
}

.error-info {
  font-size: 1.5rem;
  width: 80%;
  margin: 4rem auto;
  justify-content: center;
  animation: components-animation 0.3s;
}

.today-data div {
  width: 33%;
}

.today-data p {
  margin-bottom: var(--margin-bottom);
}

.today-data :is(h4, span, p) {
  padding: 2px;
}

@media (min-width: 1000px) {
  .error-info {
    width: 50%;
  }

  .main-data {
    display: flex;
  }

  .today-container,
  .today-data {
    flex: 1;
  }

  .today-temp {
    justify-content: center;
    margin: auto;
  }

  .today-temp .today-icon {
    size: 7em;
  }

  .alert-info {
    margin: 2rem 4rem 0 4rem;
  }

  .alert-popup-inner {
    max-width: 50%;
  }
}
