.daily-info {
  background-color: rgba(252, 173, 26);
  box-sizing: border-box;
  width: 350px;
  display: flex;
  padding: 0.8rem;
  border-radius: 10px;
  z-index: 10;
  position: fixed;
  top: 4rem;
  right: 0.5rem;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;

  margin-bottom: 1rem;
}

.check-icon {
  cursor: pointer;
  position: relative;
  margin: auto 0.9rem auto auto;
}

.check-icon:hover {
  color: rgba(0, 155, 114);
  transition: 0.3s ease-in-out;
}

.toast-message {
  font-size: 1.1rem;
  text-align: left;
}

.hide {
  transform: translateX(110%);
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* phone screens */
@media (max-width: 450px) {
  .dailyInfo {
    width: 300px;
    top: 0.8rem;
  }

  .toast-message {
    font-size: 0.9rem;
  }

  .check-icon {
    width: 25px;
    height: 25px;
  }
}
