@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --div-background-color: rgba(241, 240, 240, 0.2);
  --scrollbar-thumb: rgba(177, 177, 177, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  background: linear-gradient(rgb(37, 37, 187), rgb(104, 141, 252)) fixed center;
  color: whitesmoke;
  letter-spacing: 0.1rem;
}

/* container */
.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 0.5rem;
  user-select: none;
  margin-bottom: 1rem;
}

/* Search input */
.search {
  display: flex;
  justify-content: center;
  width: 80%;
  position: relative;
  margin: 1rem auto;
}

.search-input {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 15px;
  outline: none;
  overflow: hidden;
  border: none;
  text-indent: 2rem;
}

#searchButton,
#locationButton {
  color: rgb(177, 177, 177);
  overflow: hidden;
  outline: none;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.9rem;
  background: none;
  position: absolute;
}

#searchButton {
  top: 0.1rem;
  left: 0.1rem;
}

#locationButton {
  cursor: pointer;
  top: 0.1rem;
  right: 0.1rem;
}

#locationButton:hover {
  color: blue;
}

/* Today's weather */
.today-weather {
  padding: 1rem;
}

.location,
.today-temp {
  text-align: left;
  margin-bottom: 1rem;
}

.today-temp {
  display: flex;
}

h1 {
  margin-bottom: 1rem;
}

.today-icon {
  margin-right: 2rem;
  width: 100px;
}

.temp-desc {
  display: grid;
  margin-top: 0.7rem;
}

#todayTemp {
  font-size: 2rem;
}

.today-data,
.daily-details,
.error-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--div-background-color);
  border-radius: 10px;
}

.error-info {
  font-size: 1.5rem;
  width: 80%;
  margin: 4rem auto;
  justify-content: center;
}

.today-data div,
.daily-details div {
  width: 33%;
}

.today-data p,
.daily-details p {
  margin-bottom: 1rem;
}

.today-data :is(h4, span, p),
.daily-details :is(h4, span, p) {
  padding: 2px;
}

.daily-details {
  margin: 0 1rem 0 1rem;
  display: none;
}

.visible {
  display: flex;
}

/* Hourly & daily weather*/
.hourly-weather,
.daily-weather {
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}

:is(.hourly-weather, .daily-weather) h2 {
  margin-bottom: 1rem;
}

.scroll-div {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  /* Firefox scrollbar style */
  scrollbar-color: var(--scrollbar-thumb) var(--div-background-color);
  scrollbar-width: thin;
}

.scroll-box,
.scroll-box-clicked {
  border-radius: 10px;
  min-width: 5.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  text-align: center;
}

.scroll-box {
  background-color: var(--div-background-color);
}

/* click scroll-box */
.scroll-box-clicked {
  background-color: rgba(241, 240, 240, 0.5);
}

#scrollBoxId {
  cursor: pointer;
}

/* scrollbar style */
.scroll-div::-webkit-scrollbar {
  background: var(--div-background-color);
  height: 0.5rem;
  border-radius: 0.25rem;
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 0.25rem;
  border: 0.25rem solid transparent;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background-color: rgba(177, 177, 177, 0.6);
}

/* Smaller screens */
@media (max-width: 450px) {
  .container {
    font-size: 0.8rem;
  }

  .search-input {
    font-size: 1rem;
  }
}

/* Layout on larger screens */
@media (min-width: 800px) {
  .container {
    padding: 1rem 8rem 0 8rem;
  }

  .search,
  .error-info {
    width: 50%;
  }

  .main-data {
    display: flex;
  }

  .today-temp,
  .today-data {
    flex: 1;
  }

  .today-temp {
    justify-content: center;
    margin: auto;
  }

  .today-temp .today-icon {
    size: 7em;
  }

  .scroll-box,
  .scroll-box-clicked {
    min-width: 8rem;
  }

  :is(.hourly-weather, .daily-weather) h2 {
    margin: 2rem 0 1rem 0;
  }

  .daily-details {
    max-width: 50%;
  }
}
