@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --div-background-color: rgba(241, 240, 240, 0.2);
  --scrollbar-thumb: rgba(177, 177, 177, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  background: linear-gradient(rgb(37, 37, 187), rgb(104, 141, 252)) fixed center;
  color: whitesmoke;
  letter-spacing: 0.1rem;
}

/* container */
.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

/* Search */
.search {
  position: relative;
  padding: 0 1rem 2rem 1rem;
}

.search input {
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  width: 100%;
  height: 3rem;
  border-radius: 40px;
}

#searchIcon,
#locationIcon {
  color: grey;
  position: absolute;
}

#searchIcon {
  top: 1rem;
  left: 2rem;
}

#locationIcon {
  top: 0.55rem;
  right: 1.6rem;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

#locationIcon:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

/* Today weather */
.todayWeather {
  padding: 1rem;
}

.location,
.today-temp {
  text-align: left;
  margin-bottom: 1rem;
}

.today-temp {
  display: flex;
}

h1 {
  margin-bottom: 1rem;
}

.todayIcon {
  margin-right: 2rem;
  size: 3em;
}

.tempAndDesc {
  display: grid;
  margin-top: 0.7rem;
}

#todayTemp {
  font-size: 2rem;
}

.today-data {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--div-background-color);
  border-radius: 10px;
}

.today-data div {
  width: 33%;
}

.today-data p {
  margin-bottom: 1rem;
}

.today-data :is(h4, span, p) {
  padding: 2px;
}

/* Hourly & daily weather*/
.hourlyWeather,
.dailyWeather {
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}

:is(.hourlyWeather, .dailyWeather) h2 {
  margin-bottom: 1rem;
}

.hourlyScroll,
.dailyScroll {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  /* Firefox scrollbar style */
  scrollbar-color: var(--scrollbar-thumb) var(--div-background-color);
  scrollbar-width: thin;
}

.hourlyDiv,
.dailyDiv {
  background-color: var(--div-background-color);
  border-radius: 10px;
  min-width: 5rem;
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
}

/* scrollbar style */
.hourlyScroll::-webkit-scrollbar,
.dailyScroll::-webkit-scrollbar {
  background: var(--div-background-color);
  height: 0.5rem;
  border-radius: 0.25rem;
}

.hourlyScroll::-webkit-scrollbar-thumb,
.dailyScroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 0.25rem;
  border: 0.25rem solid transparent;
}

.hourlyScroll::-webkit-scrollbar-thumb:hover,
.dailyScroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(177, 177, 177, 0.6);
}

/* Layout on larger screens */
@media (min-width: 700px) {
  .search {
    left: 50%;
    transform: translate(-50%);
    width: 500px;
  }

  .mainData {
    display: flex;
  }

  .today-temp,
  .today-data {
    flex: 1;
  }

  .today-temp {
    justify-content: center;
    margin: auto;
  }

  .today-temp .todayIcon {
    size: 7em;
  }

  .hourlyDiv,
  .dailyDiv {
    min-width: 8rem;
  }
}
