@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --div-background-color: rgba(241, 240, 240, 0.2);
  --scrollbar-thumb: rgba(177, 177, 177, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  background: linear-gradient(rgb(37, 37, 187), rgb(104, 141, 252)) fixed center;
  color: whitesmoke;
  letter-spacing: 0.1rem;
}

/* container */
.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 0.5rem;
  user-select: none;
}

/* Today's weather */
.todayWeather {
  padding: 1rem;
}

.location,
.todayTemp {
  text-align: left;
  margin-bottom: 1rem;
}

.todayTemp {
  display: flex;
}

h1 {
  margin-bottom: 1rem;
}

.todayIcon {
  margin-right: 2rem;
  width: 100px;
}

.tempAndDesc {
  display: grid;
  margin-top: 0.7rem;
}

#today-temp {
  font-size: 2rem;
}

/* .dailyDetails {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
} */

.todayData,
.dailyDetails {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--div-background-color);
  border-radius: 10px;
}

.dailyDetails {
  margin: 0 1rem 0 1rem;
}

.todayData div,
.dailyDetails div {
  width: 33%;
}

.todayData p,
.dailyDetails p {
  margin-bottom: 1rem;
}

.todayData :is(h4, span, p),
.dailyDetails :is(h4, span, p) {
  padding: 2px;
}

/* Hourly & daily weather*/
.hourlyWeather,
.dailyWeather {
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}

:is(.hourlyWeather, .dailyWeather) h2 {
  margin-bottom: 1rem;
}

.scrollDiv {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  /* Firefox scrollbar style */
  scrollbar-color: var(--scrollbar-thumb) var(--div-background-color);
  scrollbar-width: thin;
}

.scrollBox {
  background-color: var(--div-background-color);
  border-radius: 10px;
  min-width: 5rem;
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
}

/* .visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
} */

#scrollBoxId {
  cursor: pointer;
}

/* scrollbar style */
.scrollDiv::-webkit-scrollbar {
  background: var(--div-background-color);
  height: 0.5rem;
  border-radius: 0.25rem;
}

.scrollDiv::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 0.25rem;
  border: 0.25rem solid transparent;
}

.scrollBox::-webkit-scrollbar-thumb:hover {
  background-color: rgba(177, 177, 177, 0.6);
}

/* Layout on larger screens */
@media (min-width: 800px) {
  .container {
    padding: 5rem 8rem 0 8rem;
  }

  .search {
    left: 50%;
    transform: translate(-50%);
    width: 500px;
  }

  .mainData {
    display: flex;
  }

  .todayTemp,
  .todayData {
    flex: 1;
  }

  .todayTemp {
    justify-content: center;
    margin: auto;
  }

  .todayTemp .todayIcon {
    size: 7em;
  }

  .scrollBox {
    min-width: 8rem;
  }

  :is(.hourlyWeather, .dailyWeather) h2 {
    margin: 2rem 0 1rem 0;
  }
}
